@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #314584;
    font-family: WorkSans;
}

section {
    margin: 40px auto;
}

.logo {
    width: 60px;
    background-image: url(Images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.burger {
    width: 30px;
    height: 30px;
    background-image: url(Images/menu-button-of-three-horizontal-lines.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.burgerClose {
    background-image: url(Images/close.png);
}

header {
    padding: 10px;
    height: 60px;
    border-bottom: 3px solid #314584;
}

.contactButton {
    display: none;
}

select,
option {
    border: none;
    color: #314584;
    font-weight: bold;
    height: 100%;
    font-size: 20px;
}

a {
    color: #314584;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    color: #FF3946;
}

.card {
    text-align: center;
}

.card li {
    height: 60px;
    width: 100%;
}

.leftAside h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.leftAside p {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;

}

.redButton {
    display: block;
    border: none;
    background-color: #FF3946;
    border-radius: 40px;
    padding: 17px;
    color: white;
    font-size: 20px;
    width: 80%;
    height: 100%;
    text-align: center;
    margin: 40px auto;
}

.redButton:hover {
    color: #314584;
    background-color: white;
    outline: 2px solid #FF3946;
    border-radius: 40px;
}

.regLink {
    display: block;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slider {
    width: 300px;
    height: 350px;
    background-image: url(Images/Main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 20px auto;

}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.containerGrid {
    display: grid;
    grid-gap: 20px;
    margin: 40px auto;
    width: 80%;
}

.workHide {
    display: none;
}

.work {
    width: 300px;
    height: 220px;
    background-color: lightgrey;
    margin: 0 auto;
    display: block;

}

.portfolio {
    text-align: center;
}

.seeMore {
    color: #FF3946;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.seeMore:hover {
    color: #314584;
}

.seeLess {
    color: #314584;
    text-decoration: none;
    font-size: 0px;
    font-weight: bold;
}

.seeLess::before {
    content: 'See less';
    font-size: 20px;
}

.seeLess:hover {
    color: #FF3946;
}

.contact {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-flow: column wrap;
}

.inp {
    width: 100%;
    height: 60px;
    background-color: #F4FAFE;
    border: none;
    padding: 0px 20px;
    color: #314584;
    font-weight: 600;
    margin-bottom: 15px;
}

input::placeholder,
textarea::placeholder {
    color: #314584;
}

input:focus,
textarea:focus {
    outline: 3px solid #314584;
}

.inpArea {
    height: 160px;
}

.contact a {
    color: #FF3946;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px 0 20px;
    display: block;

}

/* -----------------------Footer----------------------- */
footer {
    width: 100%;
    height: 100%;
    background-color: #314584;
    color: white;
    text-align: center;
    padding: 40px 0;
}

footer h5 {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer h2 {
    font-size: 33px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FF3946;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
footer li{
    margin: 20px;
}
.socialNetworks{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

}
.facebook{
    width: 90px;
    background-image: url(Images/facebook-app-symbol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.facebook:hover{
    background-image: url(Images/facebook-app-symbol\ h.png);
}
.tweeter{
    width: 90px;
    background-image: url(Images/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.tweeter:hover{
    background-image: url(Images/twitter\ h.png);
}
.dribbble{
    width: 90px;
    background-image: url(Images/dribbble-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.dribbble:hover{
    background-image: url(Images/dribbble-logo\ h.png);
}
